
<script type="text/template" data-tpl="tpl-main-view">


	<div class="main main-tb">
	  <div class="main-wrap">

<div class="bagcontents bagearncontent">
	<div class="bagearn">
		<h2>邀请</h2>
		<div class="con">
			邀请行政注册，飞兔的企业账号，并在邀请人中填写您的手机号码，注册成功后，可获得200根萝卜，如果您邀请的企业账号首次购买（任意金额），您可以额外获得30根萝卜
		</div>
	</div>
	<div class="bagearn">
		<h2>采购</h2>
		<div class="con">
			您所关联的企业账户，在飞兔上采购或消费，您即可获得和采购金额相等的萝卜（比如您单次采购金额为3000，则您可以获得3000根萝卜），兑换比例是浮动的，不定期调整
		</div>
	</div>

</div>



	  </div>
	</div>
</script>

<div class="page"></div>
