
<script type="text/template" data-tpl="tpl-main-view">


	<div class="main main-tb">
	  <div class="main-wrap">

			<div class="bageachchild">
				当前萝卜(根)
				<span><# print(self.businessTenderList.luobo_number); #></span>
			</div>
			<ul class="bageachlist">
				<li><a href="#index/earnradish"><span class="icon_z"></span>赚取萝卜</a></li>
				<li><a href="#index/radishshop"><span class="icon_l"></span>萝卜商店</a></li>
				<li><a href="#index/associatedaccount"><span class="icon_g"></span>关联帐号</a></li>
				<li><a href="#index/about"><span class="icon_h"></span>关注福袋</a></li>
			</ul>



	  </div>
	</div>
</script>

<div class="page"></div>
